@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

/* ============  Nav bar ==============*/

nav {
    height: 80px;
}

.nav-bar {
    width: 100vw;
    height: 80px;

}

.nav-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background: #ccd8e9;

}

.links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 16px;
    /* height: 0; */
    overflow-wrap: break-word;
}

.links a {
    text-decoration: none;
    margin: 15px 20px;
    padding: 5px 10px;
    color: #171614;
    display: block;
    transition: all 0.3s linear;
}

i {
    font-size: 22px;
}

li a:hover i {
    color: #fff;
}

.portfolio-logo {
    text-decoration: none;
    font-size: 28px;
    font-family: "New-courier";
    color: #1e4886;
}



/* ================== HOME-PAGE-cards =================*/

section {
    display: flex;
    justify-content: space-around;
    place-items: center;
    width: 100vw;
    /* height: 100vh; */
    background: #4f6d7a;
    /* background-repeat: calc(100vh+100px); */
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
    padding: 20px 30px;
    box-sizing: border-box;
}

.pic {
    width: 100%;
    /* height: 160px; */
    border-radius: 12px;
}

.pic2 {
    width: 95%;
    height: 170px;
    border-radius: 12px;
}

/* .pic::before{
    content: "";
    position: relative;
    width: 10px;
    height: 5px;
    top: 0;
    right: 5px;
    transition: 1.9s;
    background: linear-gradient(50deg, #00ff59, #02b3ff);
    transform: rotate(-45deg) translate(0, -100px);
}

.pic:hover::before{
    animation: effects;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}


@keyframes effects {
    100% {
        transform: rotate(-25deg) translate(0, 50px);
    }
} */

.container {
    display: grid;
    width: 300px;
    height: 355px;
    position: relative;
    place-items: center;
    border-radius: 12px;
    background: linear-gradient(50deg, #2a5a3b, #1e4886);
    overflow: hidden;
    margin: 30px;
}

.container::before {
    content: "";
    position: absolute;
    width: 490px;
    height: 35px;
    top: 0;
    right: 35px;
    transition: 1.9s;
    background: linear-gradient(50deg, #00ff59, #02b3ff);
    transform: rotate(-45deg) translate(0, -100px);

}

.card {
    display: grid;
    place-items: center;
    width: 293px;
    height: 348px;
    background: #fff;
    border-radius: 12px;
    z-index: 1;
    color: #858585;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}

.card:hover {
    color: #171614;
}

.container:hover::before {
    animation: effect;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes effect {
    100% {
        transform: rotate(-25deg) translate(0, 550px);
    }
}

.btn {
    text-decoration: none;
    margin: 10px auto;
    padding: 3px 8px;
    border-radius: 14px;
    color: #ccd8e9;
    background: #4f6d7a;
}

.btn:hover {
    background: #ccd8e9;
    padding: 3px 8px;
    border-radius: 14px;
    color: #222;

}

.text {
    text-align: left;
    /* padding: 2px; */
}




/* =========== About me desin ============ */

.card-container {
    width: 720px;
    display: flex;
    justify-content: space-between;
    /* place-items: center; */
    align-items: center;
    margin: 50px auto;
    border: 1px solid lightgrey;
    border-radius: 16px;
}

.img-part {
    width: 150px;
    /* height: 200px; */
}

.user {
    width: 100%;
    border-radius: 50%;
    padding: 10px;
}

.title1 {
    margin: 20px;
}


.title2 {
    text-align: left;
    width: 300px;
    margin: 20px;
}

.title3 {
    width: 720px;
    display: flex;
    text-align: left;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 16px;

}

/* =============resume page =================== */

.resume {
    width: 100%;
    height: 100vh;
    background: #4f6d7a;
}

/* ================= Skill-set page ================== */

.skills {
    width: 720px;
    display: flex;
    justify-content: space-between;
    /* place-items: center; */
    align-items: center;
    margin: 50px auto;
    border: 1px solid lightgrey;
    border-radius: 16px;
}

.card_container1 {
    padding: 30px;
}


/*  ===================== gallery ============= */

.slide {
    margin: 0;
    display: flex;
    background-color: #4f6d7a;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.slider {
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);

}

.img-container2 {
    display: flex;
    flex-direction: row;
    /* transform: translateX(-500px); */
    /* object-fit: cover; */
}
.btns{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
    opacity: 50%;
    cursor: pointer;
}
.btns.prev{
    left: 10px;
}

.btns.next{
    right: 10px;
}
.btns:hover{
    opacity: 1;
}

/* ========== Projects == ===*/

.block {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background: #4f6d7a;
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
    padding: 20px 30px;
    box-sizing: border-box;
}

.project-container {
    display: grid;
    width: 420px;
    height: 260px;
    position: relative;
    place-items: center;
    border-radius: 12px;
    background: linear-gradient(320deg, #2a5a3b, #1e4886);
    overflow: hidden;
    margin: 30px;
}

.project-container::before {
    content: "";
    position: absolute;
    width: 550px;
    height: 35px;
    top: 0;
    right: 45px;
    transition: 1.9s;
    background: linear-gradient(50deg, #00ff59, #02b3ff);
    transform: rotate(-45deg) translate(0, -100px);

}

.project-container:hover::before {
    animation: effect;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes effect {
    100% {
        transform: rotate(-45deg) translate(0, 550px);
    }
}

.project-card {
    /* display: flex; */
    place-items: center;
    width: 412px;
    height: 252px;
    background: #fff;
    border-radius: 12px;
    z-index: 1;
    color: #858585;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
    object-fit: cover;
}

.project-card:hover {
    color: #222;
}

.btn11 {
    color: blueviolet;
    font-size: 18px;
    padding: 5px 10px;
    border: transparent;
    border-radius: 15px;
    font-weight: 400;
}

.btn11:hover {
    background: #4f6d7a;
    color: #fff;

}

.pro {
    font-family: "Font Awesome 5 Free";
    font-size: 25px;
    color: blueviolet;
    font-weight: 500;
    padding: 5px;
    margin: 3px auto;
    /* margin-top: -50px; */
    display: inline;
    /*this is for "to block its premises" */
}

.pro:hover {
    color: orangered;
}

.counter {
    font-size: 3rem;
}


.btnp {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 9px 15px;
    margin: 10px;
    background: #4f6d7a;
    color: #fff;
    border: transparent;
    border-radius: 15px;
    transition: all 0.2s linear;
    text-transform: capitalize;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 0.1;
    font-size: 15px;
}

.btnp:hover {
    background: blanchedalmond;
    color: #222;
}

/* ============ project 2 css ===========*/

#value {
    font-size: 3rem;
    font-weight: 700;
    display: block;
}

.b111 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 9px 15px;
    margin: 10px;
    background: #4f6d7a;
    color: #fff;
    border: transparent;
    border-radius: 15px;
    transition: all 0.2s linear;
    text-transform: capitalize;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 0.1;
    font-size: 15px;
}

.b111:hover {
    background: blanchedalmond;
    color: #222;
}

/* ========project 3 =================*/


.project-card3 {
    /* display: flex; */
    place-items: center;
    width: 412px;
    height: 252px;
    background: #fff;
    border-radius: 12px;
    z-index: 1;
    color: #858585;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
    object-fit: cover;
}

.project-card3:hover {
    color: #222;
}



/* ============= project4 ================== */


.pro1 {
    font-family: "Font Awesome 5 Free";
    font-size: 25px;
    color: blueviolet;

}

.pro1:hover {
    color: orangered;
}

.title {
    text-align: center;
    padding: 5px 10px;
}

.underline {
    width: 5rem;
    height: 3px;
    background: blueviolet;
    margin: 0 auto;
}

.review {
    position: absolute;
    text-align: center;
    width: 100%;
    display: grid;
}

.img-container {
    width: 100px;
    height: 95px;
    box-shadow: 0 0 10px lightgrey;
    border-radius: 50px;
    position: absolute;
    display: flex;
    margin-left: 8px;
}

#person-img {
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
    position: relative;
}

.content-flex {
    display: absolute;
}

#author {
    margin-top: 35px;
    text-transform: capitalize;
}

#job {
    text-transform: capitalize;
    font-size: 20px;
    color: blueviolet;

}

#info {
    text-transform: capitalize;
    text-align: left;
    padding: 3px auto;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: space-around;
    position: sticky;
    margin: 0;
}

.prev-btn,
.next-btn {
    color: blueviolet;
    background: transparent;
    border-color: transparent;
    font-size: 15px;
    transition: all 0.3s linear;
    cursor: pointer;

}

.prev-btn:hover,
.next-btn:hover {
    color: rgb(93, 199, 150);
}